# **Investigatin Netflix Movies - Datacamp**

Author: Alejandro Santos

**Netflix**! What started in 1997 as a DVD rental service has since exploded into one of the largest entertainment and media companies.

Given the large number of movies and series available on the platform, it is a perfect opportunity to flex your exploratory data analysis skills and dive into the entertainment industry.

You work for a production company that specializes in nostalgic styles. You want to do some research on movies released in the 1990's. You'll delve into Netflix data and perform exploratory data analysis to better understand this awesome movie decade!

You have been supplied with the dataset `netflix_data.csv`, along with the following table detailing the column names and descriptions. Feel free to experiment further after submitting!

## The data
### **netflix_data.csv**
| Column | Description |
|--------|-------------|
| `show_id` | The ID of the show |
| `type` | Type of show |
| `title` | Title of the show |
| `director` | Director of the show |
| `cast` | Cast of the show |
| `country` | Country of origin |
| `date_added` | Date added to Netflix |
| `release_year` | Year of Netflix release |
| `duration` | Duration of the show in minutes |
| `description` | Description of the show |
| `genre` | Show genre |

In [8]:
import pandas as pd

In [39]:
netflix_df = pd.read_csv("netflix_data.csv")

In [41]:
netflix_df

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV
...,...,...,...,...,...,...,...,...,...,...,...
4807,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,88,Looking to survive in a world taken over by zo...,Comedies
4808,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,94,A drug dealer starts having doubts about his t...,Dramas
4809,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,88,"Dragged from civilian life, a former superhero...",Children
4810,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,"October 19, 2020",2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas
4811,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,111,A scrappy but poor boy worms his way into a ty...,Dramas

## Filter the data for movies released in the 1990s

You'll want to subset the DataFrame to keep only the movies and then filter the years so that you are working with rows where the release year is between 1990 and 1999.

In [44]:
netflix_movies_90s = netflix_df[(netflix_df["release_year"] >= 1990) & (netflix_df["release_year"] <= 1999)]
netflix_movies_90s.sort_values("release_year", ascending = True)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
1852,s2963,Movie,In Defense of a Married Man,Joel Oliansky,"Judith Light, Michael Ontkean, Jerry Orbach, P...",United States,"October 1, 2011",1990,94,A lawyer's husband is having an affair. When h...,Dramas
3263,s5250,Movie,Rocky V,John G. Avildsen,"Sylvester Stallone, Talia Shire, Burt Young, R...",United States,"August 1, 2019",1990,104,"Inspired by the memory of his trainer, a broke...",Dramas
1504,s2394,Movie,Ghayal,Rajkumar Santoshi,"Sunny Deol, Meenakshi Sheshadri, Amrish Puri, ...",India,"December 31, 2019",1990,163,"Framed for his older brother's murder, a boxer...",Action
2328,s3718,Movie,"Look Out, Officer",Sze Yu Lau,"Stephen Chow, Bill Tung, Stanley Sui-Fan Fung,...",Hong Kong,"August 16, 2018",1990,88,An officer killed on the job returns to Earth ...,Action
1569,s2494,Movie,GoodFellas,Martin Scorsese,"Robert De Niro, Ray Liotta, Joe Pesci, Lorrain...",United States,"January 1, 2021",1990,145,Former mobster Henry Hill recounts his colorfu...,Classic Movies
...,...,...,...,...,...,...,...,...,...,...,...
606,s902,Movie,Big Daddy,Dennis Dugan,"Adam Sandler, Joey Lauren Adams, Jon Stewart, ...",United States,"October 1, 2020",1999,93,Dumped by his girlfriend because he refuses to...,Comedies
3679,s5915,Movie,Superstar,Bruce McCulloch,"Molly Shannon, Will Ferrell, Elaine Hendrix, H...",United States,"November 20, 2019",1999,82,A socially awkward Catholic schoolgirl vows to...,Comedies
675,s1003,Movie,Blue Streak,Les Mayfield,"Martin Lawrence, Luke Wilson, Peter Greene, Da...",Germany,"January 1, 2021",1999,94,A jewel thief returns to his hiding place afte...,Action
4361,s7016,Movie,The World Is Not Enough,Michael Apted,"Pierce Brosnan, Sophie Marceau, Robert Carlyle...",United Kingdom,"December 31, 2019",1999,128,"Greed, revenge, world domination: It's all in ...",Action
1786,s2861,Movie,Hum Saath-Saath Hain,Sooraj R. Barjatya,"Salman Khan, Karisma Kapoor, Saif Ali Khan, Ta...",India,"January 1, 2018",1999,176,A scheming matriarch plots to cut off her disa...,Dramas

## Find the most frequent movie duration release in the 1990s

Visualize the data to view the distributions of durations for movies released in the 1990s.

In [49]:
mode_duration_movie_90s = netflix_movies_90s["duration"].mode()
mode_duration_movie_90s

0    94
Name: duration, dtype: int64

In [51]:
duration = 94

## Count the number of short action movies from the 1990s

First, subset the data again to keep only movies with the correct genre. Then, iterate through the data and count the number of movies depending on the condition pf a duration that is less than 90.

In [56]:
netflix_movies_90s_action = netflix_movies_90s[netflix_movies_90s["genre"] == "Action"]
netflix_movies_90s_action

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
352,s508,Movie,Andaz Apna Apna,Rajkumar Santoshi,"Aamir Khan, Salman Khan, Raveena Tandon, Karis...",India,"May 11, 2020",1994,160,Broke and with no concrete plans for the futur...,Action
431,s628,Movie,Austin Powers: The Spy Who Shagged Me,Jay Roach,"Mike Myers, Heather Graham, Michael York, Robe...",United States,"December 1, 2019",1999,95,When diabolical genius Dr. Evil travels back i...,Action
468,s688,Movie,Bad Boys,Michael Bay,"Will Smith, Martin Lawrence, Téa Leoni, Tchéky...",United States,"October 1, 2019",1995,119,"In this fast-paced actioner, two Miami narcoti...",Action
515,s757,Movie,Barsaat,Rajkumar Santoshi,"Twinkle Khanna, Bobby Deol, Danny Denzongpa, R...",India,"April 1, 2018",1995,166,A naïve young man and a rich city girl fall in...,Action
675,s1003,Movie,Blue Streak,Les Mayfield,"Martin Lawrence, Luke Wilson, Peter Greene, Da...",Germany,"January 1, 2021",1999,94,A jewel thief returns to his hiding place afte...,Action
815,s1236,Movie,Casino Tycoon,Wong Jing,Wong Jing,Hong Kong,"August 1, 2018",1992,125,"When Japanese troops invade Hong Kong, young B...",Action
816,s1237,Movie,Casino Tycoon 2,Wong Jing,Dennis Chan,Hong Kong,"August 16, 2018",1992,108,Casino mogul Benny Ho wields enormous power. B...,Action
1018,s1605,Movie,Dante's Peak,Roger Donaldson,"Pierce Brosnan, Linda Hamilton, Elizabeth Hoff...",United States,"September 1, 2019",1997,108,When a volcanologist comes to investigate the ...,Action
1179,s1850,Movie,Dragonheart,Rob Cohen,"Sean Connery, Dennis Quaid, David Thewlis, Pet...",United States,"January 1, 2020",1996,103,In ancient times when majestic fire-breathers ...,Action
1288,s2039,Movie,EVANGELION: DEATH (TRUE)²,Hideaki Anno,"Megumi Ogata, Kotono Mitsuishi, Megumi Hayashi...",Japan,"June 21, 2019",1998,69,"Fifteen years after the Second Impact, apathet...",Action
1299,s2060,Movie,Executive Decision,Stuart Baird,"Kurt Russell, Halle Berry, John Leguizamo, Oli...",United States,"November 1, 2019",1996,133,When terrorists hijack a 747 and turn it into ...,Action
1504,s2394,Movie,Ghayal,Rajkumar Santoshi,"Sunny Deol, Meenakshi Sheshadri, Amrish Puri, ...",India,"December 31, 2019",1990,163,"Framed for his older brother's murder, a boxer...",Action
1515,s2408,Movie,Ghulam-E-Musthafa,Partho Ghosh,"Nana Patekar, Raveena Tandon, Paresh Rawal, Ar...",India,"December 31, 2019",1997,161,"Giving up his life of crime for love, a gangst...",Action
1548,s2466,Movie,GoldenEye,Martin Campbell,"Pierce Brosnan, Sean Bean, Izabella Scorupco, ...",United Kingdom,"December 31, 2019",1995,130,Pierce Brosnan takes his first turn as debonai...,Action
1599,s2551,Movie,Gumrah,Mahesh Bhatt,"Sanjay Dutt, Sridevi, Anupam Kher, Rahul Roy, ...",India,"April 1, 2020",1993,149,Jailed for drug trafficking while searching fo...,Action
1661,s2644,Movie,Haseena Maan Jaayegi,David Dhawan,"Sanjay Dutt, Govinda, Karisma Kapoor, Pooja Ba...",India,"March 1, 2018",1999,151,A millionaire opens the door to comic complica...,Action
1688,s2693,Movie,Hello Brother,Sohail Khan,"Salman Khan, Arbaaz Khan, Rani Mukerji, Johny ...",India,"January 4, 2021",1999,126,After receiving a heart transplant from a murd...,Action
1698,s2708,Movie,Hero,Corey Yuen,"Takeshi Kaneshiro, Yuen Biao, Valerie Chow, Je...",Hong Kong,"August 1, 2018",1997,89,A pugilist from Shantung struggles to rise to ...,Action
2050,s3256,Movie,"Justice, My Foot!",Johnnie To,"Stephen Chow, Anita Mui, Carrie Ng, Wai Ai, Be...",Hong Kong,"August 31, 2018",1992,95,Slick lawyer Sung fears he's been cursed with ...,Action
2124,s3354,Movie,Khalnayak,Subhash Ghai,"Sanjay Dutt, Madhuri Dixit, Jackie Shroff, Anu...",India,"March 1, 2018",1993,170,A prison guard goes undercover as a dancer to ...,Action
2282,s3636,Movie,Lifeline,Johnnie To,"Lau Ching Wan, Alex Fong, Carman Lee, Ruby Won...",Hong Kong,"August 16, 2018",1997,104,Johnnie To's character-centered drama follows ...,Action
2313,s3696,Movie,"Lock, Stock and Two Smoking Barrels",Guy Ritchie,"Jason Flemyng, Dexter Fletcher, Nick Moran, Ja...",United Kingdom,"January 1, 2019",1998,108,Hoping to make a bundle in a high-stakes poker...,Action
2328,s3718,Movie,"Look Out, Officer",Sze Yu Lau,"Stephen Chow, Bill Tung, Stanley Sui-Fan Fung,...",Hong Kong,"August 16, 2018",1990,88,An officer killed on the job returns to Earth ...,Action
2356,s3772,Movie,Love on Delivery,Stephen Chow,"Stephen Chow, Christy Chung, Ng Man-Tat",Hong Kong,"August 16, 2018",1994,93,"To prove himself to a love interest, a deliver...",Action
2521,s4032,Movie,Men in Black,Barry Sonnenfeld,"Tommy Lee Jones, Will Smith, Linda Fiorentino,...",United States,"October 19, 2019",1997,98,A streetwise cop teams with a veteran governme...,Action
2616,s4178,Movie,Money Talks,Brett Ratner,"Charlie Sheen, Chris Tucker, Heather Locklear,...",United States,"November 1, 2019",1997,96,TV news reporter James Russell helps put small...,Action
2867,s4584,Movie,Oh Darling Yeh Hai India,Ketan Mehta,"Shah Rukh Khan, Deepa Sahi, Javed Jaffrey, Anu...",India,"June 1, 2017",1995,154,A penniless actor new to Mumbai and a beautifu...,Action
2993,s4787,Movie,Passenger 57,Kevin Hooks,"Wesley Snipes, Bruce Payne, Tom Sizemore, Alex...",United States,"January 1, 2021",1992,84,Air marshal John Cutter must stop notorious te...,Action
2997,s4795,Movie,Patriot Games,Phillip Noyce,"Harrison Ford, Anne Archer, Patrick Bergin, Se...",United States,"January 1, 2020",1992,117,CIA desk jockey Jack Ryan plunges into the hea...,Action
3135,s5043,Movie,Quigley Down Under,Simon Wincer,"Tom Selleck, Laura San Giacomo, Alan Rickman, ...",Australia,"December 1, 2020",1990,120,"After traveling to Australia for a job, a shar...",Action
3297,s5299,Movie,Rumble in the Bronx,Stanley Tong,"Jackie Chan, Anita Mui, Françoise Yip, Bill Tu...",Hong Kong,"November 1, 2019",1995,89,During a visit to the Bronx to help out at his...,Action
3483,s5571,Movie,Shiva,Ram Gopal Varma,"Nagarjuna Akkineni, Amala, Rajendranath Zutshi...",India,"December 31, 2019",1990,168,A young man enrolls at a college and becomes a...,Action
3546,s5674,Movie,Small Soldiers,Joe Dante,"Kirsten Dunst, Gregory Smith, Jay Mohr, Phil H...",United States,"June 1, 2019",1998,110,"When the Commando Elite, a group of toy action...",Action
3806,s6114,Movie,The Bare-Footed Kid,Johnnie To,"Aaron Kwok, Lung Ti, Maggie Cheung, Chien-lien...",Hong Kong,"August 16, 2018",1993,83,"While working at a family friend's business, a...",Action
3895,s6254,Movie,The Crow,Alex Proyas,"Brandon Lee, Rochelle Davis, Ernie Hudson, Mic...",United States,"January 1, 2019",1994,102,One year after Eric Draven and his fiancée are...,Action
3943,s6330,Movie,The End of Evangelion,"Hideaki Anno, Kazuya Tsurumaki","Megumi Ogata, Kotono Mitsuishi, Megumi Hayashi...",Japan,"June 21, 2019",1997,87,"Seele orders an all-out attack on NERV, aiming...",Action
4076,s6553,Movie,The Last Boy Scout,Tony Scott,"Bruce Willis, Damon Wayans, Chelsea Field, Nob...",United States,"November 1, 2019",1991,105,Private eye Joe Hallenbeck is forced to team u...,Action
4136,s6645,Movie,The Mask of Zorro,Martin Campbell,"Antonio Banderas, Anthony Hopkins, Catherine Z...",United States,"January 1, 2020",1998,138,An aging Zorro passes the torch to a young suc...,Action
4140,s6649,Movie,The Matrix,"Lilly Wachowski, Lana Wachowski","Keanu Reeves, Laurence Fishburne, Carrie-Anne ...",United States,"November 1, 2019",1999,136,A computer hacker learns that what most people...,Action
4168,s6706,Movie,The Next Karate Kid,Christopher Cain,"Pat Morita, Hilary Swank, Michael Ironside, Co...",United States,"November 1, 2020",1994,107,"In Boston, karate master Mr. Miyagi finds a ne...",Action
4193,s6745,Movie,The Peacemaker,Mimi Leder,"George Clooney, Nicole Kidman, Marcel Iures, A...",United States,"January 1, 2020",1997,124,After terrorists trigger a nuclear blast in Ru...,Action
4245,s6829,Movie,The River Wild,Curtis Hanson,"Meryl Streep, Kevin Bacon, David Strathairn, J...",United States,"September 1, 2018",1994,111,A turbulent vacation turns deadly when a fugit...,Action
4361,s7016,Movie,The World Is Not Enough,Michael Apted,"Pierce Brosnan, Sophie Marceau, Robert Carlyle...",United Kingdom,"December 31, 2019",1999,128,"Greed, revenge, world domination: It's all in ...",Action
4445,s7143,Movie,Tomorrow Never Dies,Roger Spottiswoode,"Pierce Brosnan, Jonathan Pryce, Michelle Yeoh,...",United Kingdom,"December 31, 2019",1997,119,"Pierce Brosnan stars in this 007 installment, ...",Action
4456,s7163,Movie,Total Recall,Paul Verhoeven,"Arnold Schwarzenegger, Rachel Ticotin, Sharon ...",United States,"July 1, 2020",1990,114,"After getting a memory implant, working stiff ...",Action
4490,s7224,Movie,Trimurti,Mukul Anand,"Anil Kapoor, Shah Rukh Khan, Jackie Shroff, Sa...",India,"March 1, 2018",1995,173,"After being framed, a policewoman languishing ...",Action
4718,s7624,Movie,Wild Wild West,Barry Sonnenfeld,"Will Smith, Kevin Kline, Kenneth Branagh, Salm...",United States,"January 1, 2020",1999,106,"Armed with an ingenious arsenal, two top-notch...",Action
4746,s7682,Movie,Wyatt Earp,Lawrence Kasdan,"Kevin Costner, Dennis Quaid, Gene Hackman, Dav...",United States,"January 1, 2020",1994,191,Legendary lawman Wyatt Earp is continually at ...,Action

In [82]:
short_movies_90s = netflix_movies_90s_action[(netflix_movies_90s_action["duration"] < 90)]
short_movies_90s.describe()

       release_year   duration
count      7.000000   7.000000
mean    1994.571429  84.142857
std        2.992053   7.081162
min     1990.000000  69.000000
25%     1992.500000  83.500000
50%     1995.000000  87.000000
75%     1997.000000  88.500000
max     1998.000000  89.000000

In [84]:
short_movie_count = 7